Source: ocsinventory-backend
Section: ocsinventory
Priority: standard
Maintainer: Léa Droguet <lea.droguet@factorfx.com>
Homepage: https://www.ocsinventory-ng.org/
Package: ocsinventory-backend
Version: 3.0.0
Architecture: all
Build-Depends: debhelper (>= 7.0.50~)
Depends: python3, python3-pip, uwsgi, nginx, python3-venv, build-essential, python3-dev, libldap2-dev, libsasl2-dev, slapd, ldap-utils, tox, lcov, valgrind
Description: OCS Inventory Backend API
