debhelper-build-stamp
.debhelper
*.deb
*.dsc
*.build
*.buildinfo
*.changes
*.tar.gz
*.log
*.substvars

# agent specific
ocsinventory-agent/deb/ocsinventory-agent/debian/ocsinventory-agent
ocsinventory-agent/deb/ocsinventory-agent/etc
ocsinventory-agent/deb/ocsinventory-agent/usr
ocsinventory-agent/deb/ocsinventory-agent/debian/files
