[Unit]
Description=uWSGI instance to serve ocsinventory-backend
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/usr/share/ocsinventory-backend
Environment="PATH=/usr/share/ocsinventory-backend/venv/bin"
ExecStart=/usr/sbin/uwsgi --ini /etc/uwsgi.d/ocsinventory-backend.ini

[Install]
WantedBy=multi-user.target