[Unit]
Description=uWSGI for OCS Inventory Backend
After=network.target

[Service]
Type=simple
ExecStart=/usr/lib/ocsinventory-backend/venv/bin/uwsgi --ini /etc/uwsgi.d/ocsinventory-backend.ini
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGQUIT
Restart=on-failure

[Install]
WantedBy=multi-user.target
