Source: ocsinventory-frontend
Section: ocsinventory
Priority: standard
Maintainer: Charlene Auger <charlene.auger@ocsinventory-ng.org>
Homepage: https://www.ocsinventory-ng.org/
Standards-Version: 4.6.2
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13)

Package: ocsinventory-frontend
Architecture: all
Depends: ${misc:Depends},
 nginx,
 debconf-2.0
Description: Web UI for OCS Inventory Backend API
 Web UI for OCS Inventory Backend API.
